@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Cinzel:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fauna One', serif !important;
  font-size: 1em;
}

.header {
  width: 50%;
  background-color: #4C4B16;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 25%;
  z-index: 1;
  height: 100px;
  font-family: 'Cinzel', serif !important;
  font-size: 0.6em;
}

.header h1 {
  margin: 15px 0;
  font-size: 2.5em;
  font-family: 'Cinzel', serif;
}

.header-brush-effect {
  font-weight: bold;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #4C4B16, #898121);
  mask-image: url('/paint3.png');
  padding: 1%;
  margin: 0;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: 15vh;
}

.navbar {
  width: 250px;
  height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background-image: linear-gradient(to bottom, #4C4B16, #898121);
  background-blend-mode: normal;
  color: white;
  font-weight: bold;
  text-align: center;

  -webkit-mask-image: url('/paint2.png');
  -webkit-mask-size: 300% 300%;
  -webkit-mask-position: right bottom;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('/paint2.png');
  mask-size: 300% 300%;
  mask-position: right bottom;
  mask-repeat: no-repeat;
}

.active {
  background-color: #4C4B16;
}

.navbar ul {
  list-style-type: none;
  padding: 30px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: flex; 
  align-items: center;
  padding: 15px 0px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #4C4B16;
}

.navbar a:active {
  background-color: #4C4B16;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

h2 {
  color: #333;
}

.navbar-img {
  position: fixed;
  bottom: 0;
}

.background-palette {
  width: 500px;
  position: fixed;
  right: -250px;
  top: 10vh;
  z-index: 5;
}

.background-palette2 {
  width: 250px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.icon {
  font-size: 2em;
  width: 2em;
  text-align: center;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.text-container {
  flex-grow: 1;
  max-width: 800px;
  align-content: center;
}

.brush-effect {
  font-size: 1em;
  text-align: center;
  padding: 2%;
  background: linear-gradient(to right, #FA4032, #FA812F);
  mask-image: url('/paint4.png');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.brush-effect-info {
  font-size: 1em;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  background: linear-gradient(to right, #FA4032, #FA812F);
  mask-image: url('/paint2.png');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.welcome-text {
  font-size: 1.5em;
  word-wrap: break-word;
  line-height: 1.6;
}

.slideshow {
  position: relative;
  width: 400px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #FA4032, #FA812F);
  mask-image: url('/paint4.png');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;

  color: white;
  text-align: center;
  font-weight: bold;
}

.slideshow-track {
  display: flex;
  width: 100%;
}

.slideshow img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
}

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}

.left-button, .right-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.8em;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
  padding: 20px;
}

.left-button {
  padding-left: 50px;
}

.right-button {
  padding-right: 30px;
}

.slideshow button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow button:active {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow button:focus {
  outline: none;
}


.text-inside-container {
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 20% 5%;
}

.text-container-courses {
  padding: 2%;
  align-content: center;
}

.text-inside-container-courses {
  font-size: 1.2em;
  color: black;
  text-align: center;
  padding: 15%;
}

.course-title {
  font-weight: bold;
  font-size: 1.5em;
}

.courses-page {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.info-page {
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.text-inside-container-info {
  font-size: 1.2em;
  color: black;
  padding: 0;
  max-width: 1000px;
  line-height: 35px;
}

.avatar {
  border-radius: 50%;
  width: 300px ;
}

.lecturer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  min-width: 90vh;
}

.lecturer-intro {
  max-width: 400px;
}

.intro-text {
  max-width: 90vh;
}

.hamburger {
  display: none;
}

.close-navbar {
  display: none;
}

.course-detail {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
  font-family: 'Fauna One', serif 
}

.course-detail:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.course-detail:active {
  background-color: rgba(0, 0, 0, 0.8);
}

.course-detail:focus {
  outline: none;
}

.topics {
  list-style-type: square;
  font-style: italic;
}

.contacts-page {
  line-height: 50px;
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap;
}

.contacts-page button {
  font-family: 'Fauna One', serif;
  border: none;
  padding: 15px;
  border-radius: 15px;
  background-color: #898121;
  color: white;
  font-size: 1em;
  margin: 15px;
}

.contacts-page button:hover {
  background-color: #4C4B16;
  cursor: pointer;
}

.contacts-page input, .contacts-page textarea {
  margin: 15px;
  font-family: 'Fauna One', serif;
  padding: 5px;
}

.contacts-page textarea {
  margin-bottom: 0;
  height: 150px;
  width: 350px;
}

.contact-details {
  text-align: left;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social-links a {
  color: black;
}

.social-links a:hover {
  color: #4C4B16;
}

.contact-us {
  display: flex;
  flex-direction: column;
}

.contact-form {
  text-align: right;
}

.contacts {
  text-align: center;
}

.form-group {
  text-align: left;
}

.gallery-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}


@media (max-width: 1000px) {
  .header {
    left: -10%;
    width: 120%;
  }

  .header h1 {
    margin: 25px 0;
    font-size: 2em;
  }

  .background-palette {
    display: none;
  }

  .background-palette2 {
    display: none;
  }

  .navbar-img {
    position: absolute;
    top: 110px;
    left: 25%;
    width: 50%;
  }

  .navbar {
    width: 100%;
    height: 100%;
  }
  
  .navbar a {
    font-size: 1.5em;
    display: flex; 
    align-items: center;
    padding: 15px 0px;
    font-weight: bold;
  }
  
  .navbar a:active {
    background-color: #4C4B16;
    color: white;
  }

  .close-navbar {
    display: block;
    background-color: transparent;
    font-size: 3em;
    color: white;
    border: none;
    position: fixed;
    right: 50px;
    top: 20px;
    padding: 10px 25px 15px 20px;
    border-radius: 50%;
  }

  .close-navbar:active {
    background-color: #4C4B16;
  }

  .content {
    margin: 0;
    margin-top: 60%;
  }

  .slideshow {
    width: 100%;
  }

  .hamburger {
    display: block;
    position: fixed;
    left: 20px;
    top: 30px;
    font-family: 'Cinzel', serif !important;
    font-size: 2em;
  }

  .header button {
    background-color: transparent;
    color: white;
    font-size: 2em;
    border: none;
  }

  .text-inside-container {
    padding: 30% 5%;
    padding-top: 130px;
  }

  .text-inside-container-info {
    width: 90vw;
  }
  
}